# ROMS
sdcard/*.rom
sdcard/roms/

# Test Bench ROMS
tb/*.rom

# Build files
sdcard/acorn_electron.bin

# xilinx build/sim intermediates
**/build/
**/sim/
_impactbatch.log

# vscode workspace
.vscode



