# ROMS
sdcard/roms/
sdcard/*.rom
!sdcard/empty.rom

# Test Bench ROMS
tb/*.rom

# Build files
sdcard/acorn_electron.bit

# xilinx build/sim intermediates
build_ise/
build_qrt/
_impactbatch.log
webtalk.log
webtalk_impact.xml
usage_statistics_webtalk.html
impact_impact.xwbt
impact.xsl
_impact.log
_impact.cmd
